fastapi
uvicorn
kobert_tokenizer @ git+https://github.com/SKTBrain/KoBERT.git@master#egg=kobert_tokenizer&subdirectory=kobert_hf
torch
transformers
sentencepiece
tokenizers
gluonnlp==0.10.0
mxnet==1.9.1
numpy==1.23.5
